#home {
    background-image: url('../../assets/img/background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    height: 100vh;  
    width: 100vw;

    section {
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 5px;
        padding-left: $md;
        padding-right: $md;
        height: 80%;
        width: 35%;
    }

    .earth {
        font-size: 8rem;
        color: $light-green;
    }

    h1 {
        font-size: $lg;
        font-weight: 200;
        text-align: center;
        color: $off-white;
    }

    .play-button-container {
        width: 100%;
    }

    a.play-button {
        background-color: $green;
        border-radius: $button-radius;
        color: #ffff;
        font-size: $md;
        display: block;
        cursor: pointer;
        padding: $normal;
        text-align: center;
        transition: background-color 0.3s ease-in-out;
        //transition: 0.3s linear all;
    }
        //&:hover {
    a.play-button:hover {
        background-color: darken(rgb(49, 157, 49), 10%);
        box-shadow: $shadow;
        }


    .auth-container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: $lg;
    }

    #login-button {
        background-color: $red;
        transition: background-color 0.3s ease-in-out;
    }
    #login-button:hover {
        background-color: darken($red, 10%);
        box-shadow: $shadow;
    }
        //&:hover {
            //background-color: darken($off-white, 10%);

    #signup-button { 
        background-color: rgb(38, 38, 159);
    }

    #signup-button:hover {
        background-color: darken($blue, 10%);
        box-shadow: $shadow;
    }

    .auth-container .auth-buttons {
    //.auth-buttons {
        color: #ffff;
        cursor: pointer;
        border-radius: $button-radius;
        padding: $normal 0;
        text-align: center;
        transition: 0.3s linear all; 
        width: 45%;
    }

    .auth-container .auth-buttons:hover {
    //&.auth-buttons:hover {
        background-color: darken($off-white, 10%);
    }
}

@media (max-width: 768px) {
    #home {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section {
        width: 80%;
        margin-bottom: $lg;
    }
}