#home {
    background-image: url('../../assets/img/background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    height: 100vh;  
    width: 100vw;

    section {
        background-color: rgba(0, 0, 0, 0.7);
        padding-left: 2rem;
        padding-right: 2rem;
        height: 80%;
        width: 35%;
    }

    .cube {
        font-size: 8rem;
        color: $orange;

    }

    h1 {
        font-size: $lg;
        text-align: center;
        color: $off-white;
    }

    .play-button-container {
        width: 100%

    }

    a.play-button {
        background-color: $green;
        border-radius: $button-radius;
        color: #ffff;
        display: block;
        cursor: pointer;
        padding: $normal;
        text-align: center;
        transition: background-color 0.3s ease-in-out;
        // transition: 0.3s linear all;

        //&:hover {
        a.play-button:hover {
            background-color: darken(rgb(49, 157, 49), 10%);
        }


    .auth-container {
            width: 100%;
            display: flex;
            justify-content: space-around;
            margin-top: $lg;
    }

    #login-button {
        background-color: $red;
        //transition: background-color 0.3s ease-in-out;
        #login-button:hover {
            background-color: darken($red, 10%);
        }
        //&:hover {
            //background-color: darken($off-white, 10%);
        }
    #signup-button { 
        background-color: $blue;
    
    }

    .auth-container .auth-buttons {
        color: #ffff;
        cursor: pointer;
        border-radius: $button-radius;
        padding: $normal 0;
        text-align: center;
        transition: 0.3s linear all; 
        width: 45%;
    }



    }
}
