// styles/components/_quizForm.scss

@import '../base/settings';

body {
  background-image: url('../../assets/img/chuttersnap-Ay5VDmOaKBo-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.quiz-form-container {
  background-color: rgba(255, 255, 255, 0.9);
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-left: 5px solid $blue;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .options-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    align-items: center;
  }

  .options-column {
    flex: 1;
    margin-right: 10px;
  }

  .options-row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .btn-create-quiz,
  .btn-delete-question,
  .btn-primary,
  .btn-danger {
    width: 20%;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    width: calc(25% - 10px);
    margin: 0 5px;
    display: inline-block;
    line-height: 1.5;
    cursor: pointer;
  }

  .btn-create-quiz,
  .btn-primary {
    background-color: $green;
    color: white;
    transition: background-color 0.3s;
    font-family: $handjet;
    border: none;
    width: auto;
    position: absolute;
    top: 10px;
    right: 10px;
    

    &:hover {
      background-color: darkgreen;
    }
  }

  .btn-delete-question,
  .btn-danger {
    background-color: $red;
    color: white;
    transition: background-color 0.3s;
    font-family: $handjet;
    border: none;

    &:hover {
      background-color: darkred;
    }
  }

  .btn-save {
    background-color: $blue; /* Choose the color you want */
    color: white;
    transition: background-color 0.3s;
    font-family: $handjet;
    border: none;
    width: 20%;
    margin-top: 2px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    
  
    &:hover {
      background-color: darkblue; /* Choose the color you want */
    }
  }

  /* Position Create Quiz button at top right corner when there's limited space */
  @media (max-width: 600px) {
    .btn-create-quiz {
      position: absolute;
      top: 0;
      right: 0;
      margin: 10px;
    }
  }
}
