.instructions {
    border: 4px solid darken($off-white, 10%);
    border-radius: $button-radius;
    margin-top: $lg;
    margin-bottom: $lg;
    padding: $sm $lg;


    h1 {
        color: $off-white;
        font-size: $xl;
        text-align: center;
    }

    body {
        background-color: $light-green;
        color: darkgreen;
        font-size: $sm;
    }

    .browser-default {
        padding-left: 30px;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    img {
        width: 50%;
        height: 50%;
    }
}

@media (max-width: $md-breakpoint) {
    .instructions img{
        width: 100% important;
        height: 150% important;
    }
}